$touch: "(hover: none) and (pointer: coarse)";
$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";

$small-mobile: "(max-device-width: 320px)";
$mobile: "(max-device-width: 896px)";
$tablet: "(max-width: 1366px)";
$small-screen: "(max-height: 960px)";
$small-desktop: "(max-width: 980px), (max-height: 980px)";

$fullscreen: "(display-mode: fullscreen)";