* {
	position: relative;
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-family: inherit;
	appearance: none;
	text-decoration: none;
	color: inherit;
	-webkit-appearance: none;
}

ol, ul, li {
	list-style: none;
}

a, button, input[type="submit"], .button {
	cursor: pointer;
}

button, input, textarea {
	font-family: inherit;
	background-color: transparent;
}
